.whiteboard--product-slider {
    position: absolute;
    justify-self: flex-end;
    display: flex;
    width: 100%;
    height: 15%;
    background-color: white;
    border-top-width: 2px;
    border-top-color: grey;
    border-top-style: solid;
    flex-direction: row;
    padding: 0.4rem;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 99;
    bottom: 0;
  }

  .product-slider--product {
    background-color: lightgrey;
    height: 100%;
    width: 6rem;
    margin-left: 0.5rem;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
  }